table.items, table.shares, table.users {
  border: 1;
  margin: 10px;
}
table.shares, table.users {
  border-collapse: collapse;
}
table.shares tr th, table.shares td, table.users tr th, table.users td {
  border: 1px solid #000;
}
tr.notvisible {
  background-color: #c0c0c0;
}
tr.oddrow {
  background-color: #ffff80;
}
tr.evenrow {
  background-color: #80ffff;
}
span.title {
  font-weight: bold;
}
span.title a {
  text-decoration: none;
}
.aligncentre {
  text-align: center;
}
.alignright {
  text-align: right;
}
span.label {
  display: inline-block;
  width: 11em;
  vertical-align: top;
}
.box {
  float: left;
  border: 2px dashed #00f;
  padding: 1em;
  margin-left: 10px;
  background-color: #ffffc0;
}
.sharebox {
  float: right;
  border: 2px dotted #000;
  padding: 1em;
  margin-right: 10px;
  background-color: #ffffc0;
  text-align: center;
}
h1 {
  font-size: 120%;
  color: #00f;
}
h2 {
  font-size: 110%;
  color: #00f;
  margin: 0;
  margin-left: 10px;
  padding-top: 10px;
}
img {
  border: 0;
}
.iconcolumn {
  width: 40px;
}
.required {
  color: #f00;
}
.clear {
  clear: both;
  padding-top: 10px;
}
.success, .error {
  border: 1px solid;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
}
.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.hide {
  display: none;
}
button {
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
